<div class="center hero-unit">
  <h1>Welcome to Meal Planner</h1>

  <h2>
    This is the home page for <a href="http://mealplanner.herokuapp.com/">Meal Planner!</a> sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
